*{
    margin: 0;
    padding: 0;
}
/* header starts here */
header{
    background-color: #333;
    color: #fff;
    padding: 70px;
    text-align: center;
    margin-bottom: 7px;
    font-size: 40px;
}
/* header sends here */
/* nav starts here */
nav{
    background-color: rgb(111, 109, 109);
    padding: 20px 0px;
    text-align: center;
    margin-bottom: 7px;
    color: #fff;
}
/* nav ends here */
/* section starts here */
section{
    background-color: gray;
    overflow: hidden;
    margin-bottom: 7px;
}

.slideshow{
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding-top: 70px;
    padding-bottom: 100px;
}
.grid{
    margin: 50px 10px;
}

.col{
    width: 32.2%;
    display: inline-block;
    height: 250px;
    background-color: #fff;
    margin-left: 20px;
}
.col:first-child{
    margin-left: 0;
}
/* section ends gere */
/* footer starts here */
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* footer ends here */