*{
    padding: 0;
    border: 0;
    margin: 0;
}

.main{
    margin: 3%;
    position: relative;
    height: 600px;
    width: 1000px;
    border: 5px solid #757575;
}

.box{
    position: absolute;
    height: 200px;
    width: 250px;
    border: 3px solid #757575;
}

.main .brown-block{  
    background-color: #B36000;
}

.main .violet-block{
    right: 0;
    top: 0;
    background-color: #B300B3;
}

.main .green-block{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00B32E;
}

.main .blue-block{
    left: 0;
    bottom: 0;
    background-color: #5300B3;
}

.main .cyan-block{
    right: 0;
    bottom: 0;
    background-color: #0091B3;
}