*{
    margin: 0;
    padding: 0;
    font-family: Rubik;
    font-style: normal;
}

.head-nav{
    width: 85%;
    margin: 0 auto;
}
.head-nav ul{
    width: 85%;
    display: flex;
    justify-content: center;
}
.register-btn{
    color: #ffffff;
    border-radius: 100px;
    padding: 18px 37px;
    font-size: 16px;
    line-height: 18.96px;
    border-color: #EDFF8166;
    text-align: center;
    background-image: linear-gradient(#EDFF8166, #FFFFFF1A);

}
.head{
    width: 100%;
    background: url("../images/banner-bg.png");
    background-size: cover;
    position: relative;
}
.head-nav ul li a{
    font-size: 16px;
    line-height: 18.96px;
    font-weight: 400;
    color: #ffffff;
}
.head-nav ul li{
    padding: 50px;
}
.banner{
    padding: 250px 0px;
}
.banner-content{
    text-align: center;
    margin-bottom: 250px;
}
.banner-content p{
    font-size: 36px;
    line-height: 42.66px;
    color: #ffffff;
    opacity: 0.8;
    letter-spacing: 2%;
}
.banner-content h1{
    font-size: 90px;
    line-height: 106.65px;
    color: #ffffff;
}
.get-started-btn{
    text-decoration: none;
    color: #ffffff;
    padding: 20px 60px;
    border: 1px solid #98AA28;
    background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.07);
    border-radius: 192px;
}
.banner-content ul{
    margin-top: 175px;
}
.banner-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.company-list{
    background-color: #F6FBF9;
    width: 100%;
}
.company-list ul li{
    display: inline-block;
    padding: 54px 60px;
}
.company-list ul li:first-child{
    padding-left: 0px;
}
.company-list ul li:last-child{
    padding-right: 0px;
}


.main-container{
    width: 85%;
    margin: 0 auto;
    padding-top: 150px;
}
.card1{
    border: none;
}
.strategic-card h3{
    font-size: 42px;
    line-height: 65px;
    color: #253D32;
    font-weight: 700;
}
.strategic-card p{
    font-size: 22px;
    line-height: 40px;
    color: #78847D;
    font-weight: 400;
    width: 75%;
}
.strategic-card a{
    font-size: 24px;
    line-height: 28.44px;
    color: #A3B938;
    font-weight: 500;
    padding-top: 40px;
    text-decoration: underline;
}

.content-card{
    padding: 0px;
}
.content-column{
    padding-top: 80px;
}
.content-card h5{
    font-size: 24px;
    line-height: 28.44px;
    font-weight: 500;
    color: #253D32;
    padding-top: 40px;
}
.content-card h5{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #78847D;
    padding-top: 25px;
}
.social-media-card{
    padding-top: 150px;
    border: none;
}
.social-media-card h3{
    font-size: 42px;
    line-height: 65px;
    color: #253D32;
    font-weight: 700;
}
.social-media-card p{
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
    color: #78847D;
    margin-top: 30px;
    margin-bottom: 110px;
}
.social-media-card li{
    list-style: none;
}
.social-media-card a{
    text-decoration: none;
}

footer{
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
}
.footer-top{
    width: 90%;
    background: url("../images/foot-bg.png");
    background-size: cover;
    padding: 0px 0px 105px 0px;
}
.foot-image{
    position: absolute;
    right: 20px;
    top: 90px;
}
.footer-top h4{
    padding: 100px 0px 0px 130px;
    width: 80%;
    font-size: 32px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 600;
}
.footer-top form{
    padding: 135px 0px 0px 130px;
}
.footer-top input{
    padding: 28px 115px 29px 40px;
    background: linear-gradient(332.09deg, #FFFFFF 3.37%, #E2E2E2 132.9%);
    box-shadow: 0px 34px 50px rgb(7 63 67 / 7%);
    border-radius: 192px;
    font-size: 18px;
    line-height: 21.33px;
    font-weight: 500;
}
.footer-top ul{
    display: inline-block;
    padding-left: 60px;
}
.footer-top li{
    list-style: none;
    padding: 27px 70px;
    border: 1px solid #073F4312;
    background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px rgb(7 63 67 / 7%);
    border-radius: 192px;
}
.footer-top li a{
    color: #ffffff;
    font-size: 20px;
    line-height: 23.7px;
    font-weight: 600;
}

.footer-middle{
    margin: 250px 0px 60px 0px;
}
.footer-middle p{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: #78847D;
    padding: 28px 0px 30px 0px;
    width: 80%;
}
.foot-social-media{
    padding-right: 24px;
}
.footer-middle h5{
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}
.footer-middle li{
    list-style: none;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
}
.footer-middle li a{
    color: #78847D;
    text-decoration: none;
}


.footer-bottom li{
    list-style: none;    
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
}
.footer-bottom a{
    justify-content: center;
    display: flex;
    color: #78847D;
    text-decoration: none;
}